.top-card {
  display: flex;
  list-style: none;
  padding: 5px 20px;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.top-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.top-card div {
  flex-grow: 1;
  padding: 10px;
  text-align: left;
}

.top-card div p {
  color: var(--neutral-color)
}

.top-card div p strong {
  color: var(--primary-color)
}


.top-card .avatar-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--neutral-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}