:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #009688;
  --primary-light-color: #33ab9f;
  --primary-dark-color: #00695f;

  --secondary-color: #ff3d00;
  --secondary-light-color: #ff6333;
  --secondary-dark-color: #b22a00;

  --neutral-color: #546E7A;
  --neutral-light-color: #eee;
  --border-color: #B0BEC5;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  text-align: center;
  color: var(--primary-color);
  font-size: x-large;
}


h2 {
  margin: 0;
  color: var(--neutral-color);
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & label {
    width: 100%;
  }
}

form input {
  padding: 10px;
  width: -webkit-fill-available;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

button.primary__button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-light-color);
  color: white;
  border: 1px solid var(--primary-light-color);
  font-size: medium;
  font-weight: bold;

  & a {
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 56rem;
    margin: 0 auto;
  }

}

p {
  margin: 0;
}

p strong {
  color: var(--neutral-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}