:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #009688;
  --primary-light-color: #33ab9f;
  --primary-dark-color: #00695f;

  --secondary-color: #ff3d00;
  --secondary-light-color: #ff6333;
  --secondary-dark-color: #b22a00;

  --neutral-color: #546E7A;
  --neutral-light-color: #607d8b;
  --border-color: #B0BEC5;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  text-align: center;
  color: var(--primary-color);
}


h2 {
  margin: 0;
  color: var(--neutral-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  body {
    padding-left: 300px;
    padding-right: 300px;
  }

}

p {
  margin: 0;
}

p strong {
  color: var(--neutral-color);
}